In [65]:
#To dispay all output in a cell rather than the last one
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [244]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count
* Display the total number of players

In [245]:
pd.DataFrame([{"Total Players":len(purchase_data.SN.unique())}])

   Total Players
0            576

## Purchasing Analysis (Total)
* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [246]:
#Number of Unique Items <- len(purchase_data["Item Name"].unique()
#Average Price <- purchase_data.Price.mean()
#Number of Purchases <- purchase_data.shape[0]
#Total Reveniew <- purchase_data.Price.sum()
#Convert some values to string for dispay
#Display
Summary = pd.DataFrame([{'Number of Unique Items':len(purchase_data["Item Name"].unique()), 'Average Price':purchase_data.Price.mean(), 'Number of Purchases':purchase_data.shape[0], 'Total Revenue':purchase_data.Price.sum()}]) 
Summary = pd.DataFrame([[Summary.iloc[0,0], "${:,.2f}".format(Summary.iloc[0,1]), Summary.iloc[0,2], "${:,.2f}".format(Summary.iloc[0,3])]], columns=Summary.columns.to_list())
Summary

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics
* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [247]:
#We need to take unique SNs, then calculte the value counts and percentages
#Value counts = Gender_DF['Gender'].value_counts()
#Perc counts = (100*Gender_DF['Gender'].value_counts(normalize=True))
#Format the perc count using map function
#Concatinate these two counts together
#Give column names as [Total Count, Percentage of Players]
#Display
Gender_DF = purchase_data[['SN', 'Gender']].groupby('SN').first() #Index - Unique SNs, Column - Gender
Gender_Demographics = pd.concat([Gender_DF['Gender'].value_counts(), (100*Gender_DF['Gender'].value_counts(normalize=True)).map("{:,.2f}%".format)], axis=1) 
Gender_Demographics.columns = ['Total Count', 'Percentage of Players']
Gender_Demographics

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

## Purchasing Analysis (Gender)
* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [248]:
#purchase count : Total purchases made by male, female, other/non-disclosed
#Total Purchase Value: Total purchases made by male, female, other/non-disclosed
#avg. purchase price : Avg purchases made by male, female, other/non-disclosed => Total Purchase Value/ purchase count for each category
#Obtain PA_Summary1 with appropriate column names

#Avg Total Purchase per Person: 
#Calculate Total purchase made by each member, group them based on male, femele, other/non-disclosed, calculate the average
#Obtain PA_Summary2 with appropriate column names

#Format the columns using apply function

#Concatinate these two counts together
#Display

PA_Summary1 = purchase_data[['Gender', 'Price']].groupby('Gender').agg(['count', 'mean', 'sum'])
PA_Summary1.columns = ['Purchase Count','Average Purchase Price','Total Purchase Value']
PA_Per_Person = purchase_data[['SN','Gender', 'Price']].groupby('SN').agg({'Gender':'first', 'Price':'sum'})
PA_Summary2 = PA_Per_Person.groupby('Gender').agg('mean')
PA_Summary2.columns = ['Avg Total Purchase per Person']
PA_Summary1 = PA_Summary1.apply({'Purchase Count': lambda x:x,'Average Purchase Price':"${:,.2f}".format, 'Total Purchase Value':"${:,.2f}".format})
PA_Summary2 = PA_Summary2.apply({'Avg Total Purchase per Person':"${:,.2f}".format})
PA_Summary = pd.concat([PA_Summary1, PA_Summary2], axis=1)
PA_Summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics
* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [303]:
#Group the Players based on SN, take age as column
#Cut the Age into bins [<10 , 10-14 , 15-19 , 20-24 , 25-29 , 30-34 , 35-39 , 40+] and save as a new column
#Group the Age_Grouping DF by Age-Group col and take the "count of Age"->"Number of rows", 
#Add %of Players col using apply function
#Format %of Players for display
#Rename Index and Columns appropriately

Age_Grouping = purchase_data[['SN', 'Age']].groupby('SN').agg('first')
Age_Grouping['Age-Group'] = pd.cut(Age_Grouping.Age, bins=[-np.inf] + list(range(10, 41, 5)) + [np.inf], right=False, labels=['<10']+[f"{i}-{i+4}" for i in range(10, 36, 5)]+['40+'])
Age_Demographics = Age_Grouping.groupby('Age-Group').agg({'Age':'count'})
Age_Demographics['%'] = Age_Demographics['Age'].apply(lambda x: "{:.2f}%".format(100*x/Age_Demographics['Age'].sum()))
Age_Demographics.index.name = ''
Age_Demographics.rename(columns={'Age':'Total Count', '%':'Percentage of Players'})

       Total Count Percentage of Players

<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

In [310]:
#Take a slice of purchase_data with only SN, Age and Price columns
#Cut the Age into bins [<10 , 10-14 , 15-19 , 20-24 , 25-29 , 30-34 , 35-39 , 40+] and save as a new column
#Now, this task is similar to the Purchasing Analysis we have done for gender

#purchase count : Total purchases made by all 8 age range categories
#Total Purchase Value: Total purchases made by all 8 age range categories
#avg. purchase price : Avg purchases made by all 8 age range categories => Total Purchase Value/ purchase count for each category
#Obtain PA_Age_Summary1 with appropriate column names

#Avg Total Purchase per Person: 
#Calculate Total purchase made by each member, group them based on all 8 age range categories, calculate the average
#Obtain PA_Age_Summary2 with appropriate column names

#Format the columns using apply function

#Concatinate these two counts together
#Display

PA_Age_Frame = purchase_data[['SN', 'Age', 'Price']].copy()
PA_Age_Frame['Age Ranges'] = pd.cut(PA_Age_Frame.Age, bins=[-np.inf] + list(range(10, 41, 5)) + [np.inf], right=False, labels=['<10']+[f"{i}-{i+4}" for i in range(10, 36, 5)]+['40+'])
PA_Age_Summary1 = PA_Age_Frame.groupby('Age Ranges').agg({'Price':['count', 'mean', 'sum']})
PA_Age_Summary1.columns = ['Purchase Count','Average Purchase Price','Total Purchase Value']
PA_Age_Per_Person = PA_Age_Frame[['SN','Age Ranges', 'Price']].groupby('SN').agg({'Age Ranges':'first', 'Price':'sum'})
PA_Age_Summary2 = PA_Age_Per_Person.groupby('Age Ranges').agg('mean')
PA_Age_Summary2.columns = ['Avg Total Purchase per Person']
PA_Age_Summary1 = PA_Age_Summary1.apply({'Purchase Count': lambda x:x,'Average Purchase Price':"${:,.2f}".format, 'Total Purchase Value':"${:,.2f}".format})
PA_Age_Summary2 = PA_Age_Summary2.apply({'Avg Total Purchase per Person':"${:,.2f}".format})
PA_Age_Summary = pd.concat([PA_Age_Summary1, PA_Age_Summary2], axis=1)
PA_Age_Summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders
* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [320]:
#Calculate Total number of purchases, Average Purchase price and Total Purchase value made by each member by grouping based on SN. 
#Name columns appropriately
#Sort DF based on Total Purchase Value in descending order
#Format for display

Spenders = purchase_data[['SN', 'Price']].groupby('SN').agg({'Price':['count', 'mean', 'sum']})
Spenders.columns = ['Purchase Count','Average Purchase Price','Total Purchase Value']
Top_Spender = Spenders.sort_values(by='Total Purchase Value', axis=0, ascending=False, inplace=False)
Top_Spender = Top_Spender.apply({'Purchase Count': lambda x:x, 'Average Purchase Price':"${:,.2f}".format, 'Total Purchase Value':"${:,.2f}".format})   
Top_Spender.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items
* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [328]:
#Group the slice of data frame with both 'Item ID' and 'Item Name'
#NOTE:- Note that same items are sold with different prices e.g. purchase_data[purchase_data['Item Name']=="Final Critic"]
#Hence Item Price is taken as average price of the item
#Rename the columns appropriately
#Sort DF based on Purchase Count in descending order
#Format for display

Items = purchase_data[['Item ID', 'Item Name', 'Price']].groupby(['Item ID', 'Item Name']).agg({'Price':['count', 'mean', 'sum']})    
Items.columns = ['Purchase Count', 'Item Price', 'Total Purchase Value']
Most_Popular_Items = Items.sort_values(by='Purchase Count', axis=0, ascending=False, inplace=False)
Most_Popular_Items = Most_Popular_Items.apply({'Purchase Count': lambda x:x, 'Item Price':"${:,.2f}".format, 'Total Purchase Value':"${:,.2f}".format})
Most_Popular_Items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items
* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [331]:
#Items DF contain the Purchase Count, Item Price, Total Purchase Value for each item
# Sort Items based on Total Purchase
# Format the data and dispay
Most_Profitable_Items = Items.sort_values(by='Total Purchase Value', axis=0, ascending=False, inplace=False)
Most_Profitable_Items = Most_Profitable_Items.apply({'Purchase Count': lambda x:x, 'Item Price':"${:,.2f}".format, 'Total Purchase Value':"${:,.2f}".format})
Most_Profitable_Items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80

# The End ! and the new Beginning :)