In [1]:
# To display all outputs in a cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [40]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [122]:
#Note: School ID is the unique identifier for a student NOT the name (There are many students of the same name)
#Each school has a Budget
#Aggregate the dataframes to get the mean, sum, and unique counts
#Query DF with specific condition and then aggregate to get the unique counts
#Store in a DF, add proper column names
# Appropriate Display
# Beautify Display

#Construct a 1 column DF with required values as rows
District_Summary = pd.DataFrame(\
pd.concat([school_data_complete.aggregate({'School ID':'nunique', 'Student ID':'nunique', 'math_score':'mean', 'reading_score':'mean'}),\
pd.Series([school_data_complete.groupby(['School ID'] ).agg({'budget':'first'}).sum()[0],\
         100*school_data_complete.query('math_score >= 70')['School ID'].aggregate('count', axis=0)/school_data_complete.shape[0],\
         100*school_data_complete.query('reading_score >= 70')['School ID'].aggregate('count', axis=0)/school_data_complete.shape[0],\
         100*school_data_complete.query('math_score >= 70 & reading_score >= 70')['School ID'].aggregate('count', axis=0)/school_data_complete.shape[0]])]).reset_index(drop=True))

#Take transform
District_Summary = District_Summary.T
#Change Column names
District_Summary.columns = ['Total Schools','Total Students', 'Average Math Score', 'Average Reading Score','Total Budget', '% Passing Math','% Passing Reading','% Overall Passing']

#Change the order of the columns for display
District_Summary = District_Summary[['Total Schools','Total Students', 'Total Budget','Average Math Score', 'Average Reading Score', '% Passing Math','% Passing Reading','% Overall Passing']]
#Formatting for display for the required columns
District_Summary.loc[:, ['Total Schools', 'Total Students', 'Total Budget']] = District_Summary.apply({'Total Schools': lambda x: "{:,.0f}".format(x), 'Total Students': lambda x: "{:,.0f}".format(x), 'Total Budget': lambda x: "${:,.2f}".format(x)})

District_Summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326